body {
  font-family: sans-serif;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.navigation-links {
  display: flex;
  gap: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 50px;
  padding: 15px 30px;
  list-style: none;
}

.navigation-links li a {
  color: #000;
  text-decoration: none;
}

.navigation-placeholder {
  width: 125px;
}

.home-hero {
  margin: 0 auto;
  max-width: 700px;
}

.home-profile-picture {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.home-introduction {
  font-size: 48px;
  width: 500px;
  font-weight: bold;
}

.home-bio {
  font-size: 20px;
  width: 700px;
}

.home-social-media-links {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.home-featured-photos {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.home-featured-photos img {
  display: flex;
  border-radius: 20px;
  justify-content: center;
}

.rotate-a {
  transform: rotate(3deg);
}

.rotate-b {
  transform: rotate(-3deg);
}
.copyright {
  display: flex;
  justify-content: center;
}

.body {
  line-height: 1.6;
  padding: 40px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
