body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  align-items: center;
}

.navigation-bar .logo {
  display: none;
}

.navigation-links {
  display: flex;
  gap: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 50px;
  padding: 15px 30px;
  list-style: none;
}

.navigation-links li a {
  color: #000;
  text-decoration: none;
}

.navigation-placeholder {
  width: 125px;
  display: none;
}

.home-hero {
  margin: 0 auto;
  max-width: 700px;
}

.home-profile-picture {
  margin-top: 80px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: none;
}

.home-introduction {
  font-size: 48px;
  max-width: 700px;
  font-weight: bold;
}

.home-bio {
  font-size: 20px;
}

.home-social-media-links {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.home-featured-photos {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 80px;
}

.home-featured-photos img {
  display: flex;
  border-radius: 20px;
  justify-content: center;
}

.rotate-a {
  transform: rotate(3deg);
}

.rotate-b {
  transform: rotate(-3deg);
}

.footer {
  padding: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #aaaaaa;
  margin: 0;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto;
  max-width: 900px;
  padding: 50px;
  border-radius: 16px;
  margin-bottom: 100px;
}

.about-text {
  line-height: 150%;
}

.about-social-media {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.about-social-media li a {
  color: #000;
  gap: 80px;
  text-decoration: none;
}

.contact-section {
  padding: 100px;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.contact-text {
  font-size: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  background-color: #000;
  padding: 10px 60px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-weight: bold;
}

.contact-section {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .navigation-bar {
    justify-content: space-between;
  }

  .navigation-placeholder {
    display: block;
  }

  .navigation-bar .logo {
    display: block;
  }
}
